$backgroundcolor : #FFFFFF;
$navlinkcolor : #1FBCD3;
$postbackgroundcolor : #EFEFEF;
$posttitlecolor : #1697A6;
$postdescriptioncolor : #159587;
$textcolor : #617D8A;
$submitbuttoncolor : #1FBCD3;
$font : 'Roboto Condensed', sans-serif;
$bordercolor : #617D8A;