$backgroundcolor : #EFEFEF;
$navlinkcolor : #FC5830;
$postbackgroundcolor : #FFFFFF;
$posttitlecolor : #617D8A;
$postdescriptioncolor : #BDBDBD;
$textcolor : #757575;
$submitbuttoncolor : #FC5830;
$font : serif;
$bordercolor : #CFD8DC;